<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" sizes="196x196" href="{{ static_url('image/head-title.jpg') }}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{% block title %}{% endblock %}</title>
    <meta name="keywords" content="{% block keywords %}{% endblock %}"/>
    <meta name="description" content="{% block description %}{% endblock %}"/>
    <link href="{{ static_url('css/person.css') }}" media="all" data-keep="true"/>
    <link href="{{ static_url('bootstrap/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ static_url('index/style.css') }}" rel="stylesheet" media="screen">
    <script type="text/javascript" src="{{ static_url('js/jquery-2.1.4.min.js') }}" data-keep="true"></script>
    <script type="text/javascript" src="{{ static_url('js/js.cookie-2.0.4.min.js') }}" data-keep="true"></script>
    <script type="text/javascript" src="{{ static_url('js/veil.js') }}" data-keep="true"></script>
    <script type="text/javascript" src="{{ static_url('bootstrap/bootstrap.min.js') }}" data-keep="true"></script>
</head>
<body>
{% block main %}
{% endblock %}
</body>
</html>
