{% extends 'master:teacher-website-layout.html' %}
{% block title %}消息通知{% endblock %}
{% block main %}
    <style>
        #notification-widget .notification {
            position: relative;
        }

        #notification-widget .notification .delete-notification {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    </style>
    <div id="notification-widget">
        <button id="new-notification" class="btn btn-success" style="margin-bottom: 20px">发布新通知</button>
        {% if notifications %}
            {% for chunk in notifications |batch(3) %}
                <div class="row" style="margin-left: 0">
                    {% for notification in chunk %}
                        <div class="span4 well notification" data-id="{{ notification.id }}">
                            <p>{{ notification.created_at |datetime }}</p>
                            <div>通知类型：<strong>{{ notification.type |notification_type }}</strong></div>
                            {% if notification.class_name %}
                                <div>通知班级：<strong>{{ notification.class_name }}</strong></div>
                            {% endif %}
                            <div>通知内容：<strong>{{ notification.content }}</strong></div>
                            <a href="javascript: void(0);" class="delete-notification">删除</a>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        {% else %}
            <p>近三个月还未发布消息通知</p>
        {% endif %}
        <form id="create-notification-form" action="/notifications" method="POST" style="display: none;">
            <div class="control-group">
                <label class="control-label" for="class-input">限制班级</label>
                <div class="controls">
                    <select name="class_id" id="class-input">
                        <option value="0">不限制班级</option>
                        {% for class in classes %}
                            <option value="{{ class.id }}">{{ class.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="type-input">类型</label>
                <div class="controls">
                    <select name="type" id="type-input">
                        <option value="0">请选择类型</option>
                        {% for type, name in NOTIFICATION_TYPE2NAME.items() %}
                            <option value="{{ type }}">{{ name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="content-input">内容</label>
                <div class="controls">
                    <textarea name="content" id="content-input" cols="30" rows="5" placeholder="消息内容，不超过250字"></textarea>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </div>
        </form>
    </div>
    <script>
        $(document).ready(function () {
            veil.widget.handle('#notification-widget', '#new-notification', 'click', function (widget, e) {
                e.preventDefault();
                $.showDialog({
                    content: widget.find('#create-notification-form').clone().show()
                });
            });

            veil.widget.handle('#create-notification-form', '[type=submit]', 'click', function (widget, e) {
                e.preventDefault();
                var data = {
                    class_id: parseInt(widget.find('[name=class_id]').val()) || null,
                    type: parseInt(widget.find('[name=type]').val()) || null,
                    content: $.trim(widget.find('[name=content]').val())
                };
                if (!data.type) {
                    alert('请选择消息类型');
                    return;
                }
                if (!data.content) {
                    alert('请填写消息内容');
                    return;
                }
                veil.widget.createResource(widget, function () {
                    window.location.reload();
                }, data, 'json');
            });

            veil.widget.handle('.notification', '.delete-notification', 'click', function (widget) {
                if (!confirm('确定删除该消息吗？')) {
                    return;
                }
                veil.resource.del({
                    url: '/notifications/' + widget.data('id'),
                    onSuccess: function () {
                        window.location.reload();
                    }
                });
            });
        });
    </script>
{% endblock %}