{% extends 'master:teacher-website-layout.html' %}
{% block title %}首页{% endblock %}
{% block main %}
    <div id="home-page">
        <div class="row">
            <div class="span4">
                <div class="well">
                    <canvas id="myChart" width="400" height="400"></canvas>
                </div>
            </div>
            <div class="span4">
            </div>
        </div>
    </div>
    <script src="{{ static_url('chart/Chart.bundle.min.js') }}"></script>
    <script src="{{ static_url('chart/Chart.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            var ctx = document.getElementById("myChart");
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: ["软件一班", "软件二班", "软件三班", "软件四班", "网络一班", "网络二班"],
                    datasets: [{
                        label: '人数',
                        data: [12, 19, 3, 5, 2, 3],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        });
    </script>
{% endblock %}
