{% extends 'master:teacher-website-layout.html' %}
{% block title %}首页{% endblock %}
{% block main %}
    <div id="home-page">
        <div class="control-group">
            <label class="control-label" for="class-input">班级</label>
            <div class="controls">
                <select name="class_id" id="class-input">
                    {% for class in classes %}
                        <option value="{{ class.id }}">{{ class.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        {% if classes %}
            {{ widgets.class_home(classes[0].id) }}
        {% else %}
            <p>还未添加班级</p>
        {% endif %}
    </div>
    <script>
    </script>
{% endblock %}
